/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

/*******************************************************************************
* Default |
*********/

.homepage_-_circle-menu {
  background-color: green;
  color: white;
  //margin: 0 auto;
  width: inherit;
  height: 50%;
  position: absolute;

  //left: 50%;
  //top: 50%;
  //transform: translate(-50%,-50%);
}

.homepage_-_circle-menu_--_column {
  display: block;
}

.homepage_-_circle-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 10% auto;
  //transform: scale(0.7);
}


.circle-side {
  background-color: rgba(lime, 0.8);
  height: 24%;
  width: 10%;
  //height: inherit;
  //width: inherit;
  overflow: hidden;
  margin: 10% auto;
  position: relative;

  &::after{
    $circle-side-size: 100px;
    $border-size: 15px;
    $border-color: orange;
    transform: rotate(-15deg);

    //top: 0;
bottom: -10px;
    position: absolute;
    margin: 0 auto;
    height: $circle-side-size;
    width: $circle-side-size;
    background-color: rgba(red, 0.8);
    border-top: $border-size solid $border-color;
    border-left: $border-size solid $border-color;
    border-top-left-radius: 100%;

    //transform: scaleX(0.5) !important;
    //transform: scale(0.5) !important;
    opacity: 0.7;
    content: "";
  }
}



//.circle-side {
//  //$circle-side-size: 125px;
//  $circle-side-size: 200px;
//  $border-size: 15px;
//  $border-color: orange;
//
//  position: absolute;
//  margin: 0 auto;
//  height: $circle-side-size;
//  width: $circle-side-size;
//  background-color: transparent;
//  border-top: $border-size solid $border-color;
//  border-left: $border-size solid $border-color;
//  border-top-left-radius: 100%;
//
//  //transform: scaleX(0.5) !important;
//  //transform: scale(0.5) !important;
//
//  opacity: 0.7;
//
//  &::after{
//    content: "";
//    position: absolute;
//    background-color: rgba(grey, 0.8);
//    height: inherit;
//    width: inherit;
//    overflow: hidden;
//    z-index: 1;
//  }
//}

// The 5 Sides of the Circle ---------------------------------------------------

$background-color: blue;

.homepage_-_circle-menu_--_side-projects {
  top: -17%;
  left: 0;
  right: 0;
  background-color: rgba($background-color, 0.5);
  //transform: rotate(45deg);
}

.homepage_-_circle-menu_--_side-blogs {
  top: 20%;
  //left: 0px;
  right: 30%;
  //bottom: 50px;
  background-color: rgba($background-color, 0.5);
  transform: rotate(135deg);
}

.homepage_-_circle-menu_--_side-about {
  //top: 0px;
  //left: 210px;
  right: 32%;
  bottom: 2%;
  background-color: rgba($background-color, 0.5);
  transform: rotate(180deg);
}

.homepage_-_circle-menu_--_side-contact {
  //top: 0px;
  left: 30%;
  //right: 32%;
  bottom: 3%;
  background-color: rgba($background-color, 0.5);
  transform: rotate(270deg);
}

.homepage_-_circle-menu_--_side-experience {
  top: 18%;
  left: 25%;
  //right: 32%;
  //bottom: 2%;
  background-color: rgba($background-color, 0.5);
  transform: rotate(-25deg);
}

// Temp Classes ----------------------------------------------------------------

.tempcircle {
  //width: 400px;
  //height: 400px;
  //display: inline-block;
  $viewport-height: 50vh;

  width: $viewport-height;
  height: $viewport-height;
  background: blue;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  z-index: -1;
  opacity: 0.2;

  //visibility: hidden;
}


.tempImage{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  background-color: red;
  height: 100%;
  //visibility: hidden;

  //width: 50px;
}



// Animation -------------------------------------------------------------------
.circle-side {
  transition: all 300ms ease-in-out;
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------
.circle-side:hover {
  border-radius: 25px;
}
// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------

// Mixins ----------------------------------------------------------------------

//@mixin circle-side-props() {
//  top: -38px;
//  left: 0;
//  right: 0;
//  background-color: rgba(white, 0.5);
//}


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}
